#page_header {
    font-size: 50px;
    width: auto;
    height: auto;
    background: cadetblue;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: auto;
}

.container {

    display: flex;
    width: auto;
    height: auto;
    justify-content: space-between;
    gap: 20px;
    padding: 10px 10px 10px;
    margin-top: 2px;
    margin-bottom: 30px;
}

.box {

    font-size: 25px;
    border: 2px solid black;
    padding: 10px;
    flex: 1 1 auto;
    text-align: center


}